#SlotIcon {
    width: 25%;
    height: 25%;
    max-height: 25%;
    min-height: 25%;
    max-width: 25%;
    min-width: 25%;
    border: 1px solid rgb(75, 75, 75);
    border-left-color: rgb(75, 75, 75);
    border-right-color: rgb(75, 75, 75);
    border-top-color: rgb(75, 75, 75);
    border-bottom-color: rgb(75, 75, 75);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    background-size: 50%;
}

#CraftIcon {
    width: 25%;
    height: 33%;
    max-height: 33%;
    min-height: 33%;
    max-width: 26%;
    min-width: 26%;
    border: 1px solid rgb(75, 75, 75);
    border-left-color: rgb(75, 75, 75);
    border-right-color: rgb(75, 75, 75);
    border-top-color: rgb(75, 75, 75);
    border-bottom-color: rgb(75, 75, 75);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    background-size: 50%;
}
